# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Variáveis de Ambiente
.env

# Diretórios de Dados e Logs
imports/
output/
logs/
imports_old/
output_old/
logs_old/


# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
